
$colores-lisos: (
    colorPrincipal:#6f4b2b,
    colorSecundario:rgb(188, 138, 77),
    colorTerciario: rgb(220, 165, 82),
    colorLight: rgb(238, 227, 201)
);

$colores-gradient: (
    color-gradient1: linear-gradient(90deg, #e9c18e 22%, #fcc776 55%, #ffe3b9 78%)
);


