@import "_colores";
@import "_header";
@import "_main";
@import "_mixins";

.bg-color-principal {
    background-color: map-get($colores-lisos, colorPrincipal);
}

.bg-color-secundario {
    background-color: map-get($colores-lisos, colorSecundario);
}


#galeria img {
    @include atributoCatalogo;
}

.catalogo__title {
    font-weight: bold;
    color: map-get($colores-lisos, colorSecundario);
}

.catalogo__paragraph {
    @extend .catalogo__title;
    color: map-get($colores-lisos, colorPrincipal);
    margin-bottom: 2rem;
}






